{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>

            <table class="table table-dark table-striped table-hover">
                <!-- This is where you will write the code to render a Bootstrap
                Table that contains all the information from the
                cafe-data.csv file. -->
                <thead>
                <tr>
                    {% for col in columns %}
                    <th scope="col">
                        {{col}}
                    </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for cafe_list in cafes[1:] %}
                <tr>
                    {% for cafe_info in cafe_list %}
                    {% if cafe_info.startswith("http") %}
                    <td><a href="{{cafe_info}}">Maps Link</a></td>
                    {% else %}
                    <td>{{cafe_info}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <p><a href="{{url_for('home')}}">Return to index page</a></p>

        </div>
    </div>
</div>

{% endblock %}
